In [41]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [55]:
df = pd.read_csv('medical.csv')
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [56]:
df['overweight'] = (df['weight'] / (df['height'] / 100) ** 2) > 25

In [57]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,False
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,True
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,False
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,True
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,True
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,True
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,True
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,True
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,False

In [103]:
def draw_cat_plot():
    df_cat = pd.melt(frame=df, value_vars=['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight'],id_vars=['cardio'])
    
    # Normalizing data by making 0 always good and 1 always bad
    
    df_cat.loc[(df_cat['variable'] == 'cholesterol') & (df_cat['value'] == 1), 'value'] = 0
    df_cat.loc[(df_cat['variable'] == 'cholesterol') & (df_cat['value'] > 1), 'value'] = 1
    df_cat.loc[(df_cat['variable'] == 'gluc') & (df_cat['value'] == 1), 'value'] = 0
    df_cat.loc[(df_cat['variable'] == 'gluc') & (df_cat['value'] > 1), 'value'] = 1
    
    # Group and reformat the data to split it by 'cardio'. Show the counts of each feature.
    
    df_cat = pd.DataFrame(df_cat.groupby(['variable', 'value', 'cardio'])['value'].count()).rename(columns={'value': 'total'}).reset_index()
    
    # Set up the matplotlib figure and draw the catplot
    fig, ax = plt.subplots(1,1)
    sns.catplot(x='variable', y='total', hue='value', col='cardio', data=df_cat, kind='bar', ax=ax)
    fig.savefig('catplot.png')
    return fig
    
    # Draw Heat Map

    def draw_heat_map():
        df_heat = df[(df['ap_lo'] <= df['ap_hi']) & (df['height'] >= df['height'].quantile(0.025)) 
                 & (df['height'] <= df['height'].quantile(0.975)) 
                 &(df['weight'] >= df['weight'].quantile(0.025)) 
                 & (df['weight'] <= df['weight'].quantile(0.975))]
    # Calculate the correlation matrix
    corr = df_heat.corr()
    # Generate a mask for the upper triangle
    mask = np.zeros_like(corr, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True

    # Set up the matplotlib figure
    fig, ax = plt.subplots(figsize=(11, 9))
    # Draw the heatmap with the mask
    sns.heatmap(corr, annot=True, fmt='.1f', mask=mask, vmax=.3, center=0,
                square=True, linewidths=.5, cbar_kws={"shrink": .5})
    fig.savefig('heatmap.png')
    return fig